snippet bbones "bare bones cpp with main"
#include <iostream>
#include <vector>
#include <string>
#include <cstdint>
#include <map>
#include <type_traits>
#include <memory>
#include <cassert>
#include <algorithm>
#include <numeric>

int main()
{
	$1
	return 0;
}
endsnippet
